cryptography==1.0.2
Cython==0.23.4
decorator==4.0.4
docutils==0.12
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
pyOpenSSL==0.15.1
pytest==2.8.1
pytest-cov==2.2.1
requests==2.9.1
requests-oauthlib==0.6.0
textblob==0.11.0
